
body{
    display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background-color: #000000;
    
}
.post{
    justify-content: center;
    padding: 250px;
   
    
  }
  .post-header{
     background-color: white;
      display: flex;
      margin-top: auto;
     
  
      
  }
  .post-header img{
    padding-top: 8px;
    padding-bottom: 8px;
  }
  #more{
      margin-left: 400px;
      font-size: 30px;
     
  }
  .post-body{
      background-color: white;
      padding: 10px;
     
  
  }
  .post-icono{
      display: flex;
      font-size: 30px;
  }
  #book{
      margin-left:350px;
      overflow: hidden;
      font-size: 30px;
      
  }
  p{
      
    
      text-align: justify;
  
  }