.post{
    justify-content: center;
    background-color: black;
    padding: 250px;
     
  }
  .post-header{
     background-color: white;
      display: flex;
      margin-top: auto;
     
  
      
  }
  #more{
      margin-left: 400px;
  }
  .post-body{
      background-color: white;
      padding-top: 20px;
  
  }
  .post-icono{
      display: flex;
  }
  #book{
      margin-left:380px;
      overflow: hidden;
  }
  p{
      
      padding: 10px;
      text-align: justify;
  
  }